{% extends "base.html" %}

{% block title %}Control Page{% endblock %}

{% block content %}

<!-- control section start -->

<section class="control" id="control">

    <h1 class="heading">điều khiển <span>Bằng tay</span></h1>

    <div class="box-container">

        <div class="row">
            <a href="/up">
                <img src="static/images/up.png" alt="">
            </a>
        </div>

        <div class="row">
            <a href="/turn-left">
                <img src="static/images/turn_left.png" alt="">
            </a>
            <a href="/stop">
                <img src="static/images/stop.png" alt="">
            </a>
            <a href="/turn-right">
                <img src="static/images/turn_right.png" alt="">
            </a>
        </div>

        <div class="row">
            <a href="/back">
                <img src="static/images/back.png" alt="">
            </a>  
        </div>
        

    </div>

</section>

<!-- control section end -->

{% endblock %}