{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<!-- sensor section start -->

<section class="sensor" id="sensor">

    <h1 class="heading">thông tin <span>cảm biến</span></h1>

    <div class="box-container">

        <div class="box box-humi">
            <b><big>độ ẩm</big></b>
            <p class="value">
                {% if humi %}
                    {{ humi }}%
                {% else %}
                    Chưa có dữ liệu độ ẩm
                {% endif %}
            </p>
        </div>

        <div class="box box-temp">
            <b><big>nhiệt độ</big></b>
            <p class="value">
                {% if temp %}
                    {{ temp }}&degC
                {% else %}
                    Chưa có dữ liệu nhiệt độ
                {% endif %}
            </p>
        </div>

        <div class="box box-lamp">
            <b><big>đèn</big></b>
            <p class="value">
                {% if lamp %}
                    Bật
                {% else %}
                    Tắt
                {% endif %}
            </p>
        </div>

        <div class="box box-pin">
            <b><big>pin</big></b>
            <p class="value">
                {% if pin %}
                    {{ pin }}%
                {% else %}
                    Chưa có dữ liệu pin
                {% endif %}
            </p>
        </div>

        <div class="box box-distance">
            <b><big>khoảng cách</big></b>
            <p class="value">
                {% if distance %}
                    {{ distance }} cm
                {% else %}
                    Chưa có dữ liệu khoảng cách
                {% endif %}
            </p>
        </div>

    </div>

</section>

<!-- sensor section start -->

{% endblock %}