<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %} {% endblock %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="icon" href="data:,">
      
      
      
      
      
      
      
      
      
      
      
      <style>

      </style>
  </head>


















  <body>
    <!-- header section start -->
    
    <header>

      <a class="home" href="/home">
        <img src="static/images/pig.png" alt="">
        <h3 class="project">xe tự hành</h3>
        <p class="post">đồ án tốt nghiệp</p>
      </a>
    
      <nav>
        <ul>
          <li> <a href="/sensor">cảm biến</a> </li>
          <li> <a href="/control">điều khiển</a> </li>
        </ul>
      </nav>

    </header>
    
    <!-- header section end -->

    <!-- block start -->
    {% block content %} {% endblock %}
    <!-- block end -->
    
      
  </body>

</html>