{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="bg">
          <p id="title1">Nhiệt độ</p>
          <p class="lr">
            {% if tem %}
                {{ tem }}&degC
            {% else %}
                Chưa có dữ liệu nhiệt độ
            {% endif %}
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="bg">
          <p class="title2">Độ ẩm</p>
          <p class="lr">
            {% if humi %}
                {{ humi }}%
            {% else %}
                Chưa có dữ liệu độ ẩm
            {% endif %}
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="bg">
          <p class="title3">Trạng thái</p>
          <p class="lr">
            {% if status %}
                {{ status }}
            {% else %}
                Lên là lên
            {% endif %}
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="bg">
          <p class="title3">Trạng thái</p>
          <p class="lr">
            <a href="/1" class="btn btn-secondary">Tiến</a>
            <a href="/2" class="btn btn-secondary">Lùi</a>
            <a href="/3" class="btn btn-secondary">Trái</a>
            <a href="/4" class="btn btn-secondary">Phải</a>
            <a href="/5" class="btn btn-danger">Stop</a>
          </p>
        </div>
      </div>

  
    </div>



</div>        
{% endblock %}