{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="bg">
          <p id="title1">Nhiệt độ</p>
          <p class="lr">
            {% if tem %}
                {{ tem }}&degC
            {% else %}
                Chưa có dữ liệu nhiệt độ
            {% endif %}
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="bg">
          <p class="title2">Độ ẩm</p>
          <p class="lr">
            {% if humi %}
                {{ humi }}%
            {% else %}
                Chưa có dữ liệu độ ẩm
            {% endif %}
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="bg">
          <p class="title3">Trạng thái</p>
          <p class="lr">
            {% if status %}
                {{ status }}
            {% else %}
                Lên là lên
            {% endif %}
          </p>
        </div>
      </div>
  
    </div>

    <div class="row">
      <div class="bg">
        <p class="title3">Điều khiển bằng tay</p>
        <p class="lr">
          <div class="div">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repudiandae omnis totam cupiditate expedita quasi vitae dolorem amet porro molestias. Nemo eos at iusto blanditiis voluptas facere? Provident, consectetur quas?
            <a href="/1" class="btn btn-secondary text-center">Tiến</a>
            <br>
            <a href="/2" class="btn btn-secondary">Lùi</a>
            <br>
            <a href="/3" class="btn btn-secondary">Trái</a>
            <br>
            <a href="/4" class="btn btn-secondary">Phải</a>
          </div>
          
          <br>
        </p>
      </div>
    </div>


</div>        
{% endblock %}