{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<!-- sensor section start -->

<section class="sensor" id="sensor">

    <h1 class="heading">thông tin <span>cảm biến</span></h1>

    <div class="box-container">

        <div class="box">
            <span>nhiệt độ</span>
            <h3>giá trị hiện tại</h3>
        </div>

        <div class="box">
            <span>độ ẩm</span>
            <h3>giá trị hiện tại</h3>
        </div>

    </div>

</section>

<!-- sensor section start -->

{% endblock %}