{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for m in messages %}
                    <P>{{m}}</P>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h6>This is User Page</h6>
        {% if name %}
            <h3>Hello {{name}} </h3>
        {% else %}
            <h3>Hello, World</h3>
        {% endif %}
        <div class="col-sm-12">
            <div class="bg">
                <p class="title3">Điều khiển động cơ</p>
                <form action="/control-motor" method="post" class="mt-3 ml-3">
                    <input class="btn btn-primary" type="submit" value="Upload">
                    <a href="/stop-motor" class="btn btn-danger">Stop</a>
                    <br><br>

                    <input type="range" id="speed" name="speed" min="20" max="100" step="1" value="{{request.form.speed}}">
                    <label for="speed"><span id="valueSpeed"></span>%</label>

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                          <input type="radio" name="dir" autocomplete="off" checked value="plus"> Thuận
                        </label>
                        <label class="btn btn-secondary">
                          <input type="radio" name="dir" autocomplete="off" value="minus"> Nghịch
                        </label>
                    </div>
                </form>
                
            </div>
          </div>
    </div>   

{% endblock %}